*{
  margn:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #f1f3fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.calculator{
  width: 80vw;
  height: 80vh;
  border: 2px solid #6658d3;
  border-radius: 10px;
  overflow:hidden;
}

.screen{
  border-bottom:2px solid #6658d3;
  height: 30%;
}

.expression,.answer{
  width: 100%;
  border: none;
  text-align: right;
  padding: 10px;
  color: #6658d3;
}
.expression{
  height: 40%;
  font-size: 30px;
}
.answer{
  height: 60%;
  font-size: 50px;
}
.buttons{
  height: 70%;
  
  display: grid;
  grid-template-columns: repeat(4,25%);
}
 
 .buttons button{
   font-size: 25px;
   border: none;
   font-weight: bold;
   transition: .34s ease;
   border: 1px solid #6658d3;
 }
 
 .buttons button:hover{
   background: rgba(102,88,211,.5);
   color: #fff;
 }
 
.btn-bright{
  color: #6658d3;
}
.btn-equals{
  background: #6658d3;
  color: #fff;
  border-bottom-right-radius:7px;
}

#left-bracket{
border-bottom-left-radius:7px;
}
